<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' type = 'text/css' href = '/resources/styles.css'>
    <title>Johnny Addis</title>
</head>
<body>
    <header>
        <nav class = 'topbar'>
            <ol>
                <li><a>Johnny Addis</a></li>
                <li><a href ='/views/projects.html'>Projects</a></li>
                <li><a href = '/views/contact.html'>Send me a message!</a></li>
            </ol>
        </nav>
    </header>
    
</body>
</html>