<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' type = 'text/css' href = '/resources/styles.css'>
    <title>Johnny Addis</title>
</head>
<body>
    <header>
        <nav>
            <p>Johnny Addis</p>
            <ol class = 'nav list'>
                <li><a>About Me</a></li>
                <li><a href ='/views/projects.html'>Projects</a></li>
                <li><a href = '/views/contact.html'>Send me a message!</a></li>
            </ol>
        </nav>
    </header>
    <article id = 'about me'>
        <div class = 'about'>
            <h1>A Little About Me</h1>
            <p>Hello! I'm Johnny Addis, a dedicated and passionate Computer Science major at Ohio State University. I have a strong enthusiasm for learning, 
                especially when it comes to solving unique and complex problems. My academic journey and personal interests have given me a deep appreciation
                 for programming, math, and data analysis. I am looking for a Summer 2025 internship.</p>
                 <p>Ever since I started my journey in computer science, I've been driven by the desire to understand how things work and how they can be improved. Whether it's through coding, tackling challenging math problems, or analyzing data to uncover hidden patterns, I thrive on finding innovative solutions and making sense of complexity.</p>
        </div>
        <div id = 'experience'>
            <h2>Experience</h2>
            <p>This past summer, I was a Digital Banking Intern at CIBC in Chicago. ... Redwood...</p>
        </div>
        <div id = 'skills/coursework'>
            <h3>Skills/Relevant Coursework</h3>
            <p>Languages</p>
            <p>Technologies/Tools</p>
            <p>Coursework</p>
        </div>
    </article>
    <footer>
        <nav>
            <ol>
               
            </ol>
        </nav>
    </footer>
    
</body>
</html>