<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Johnny Addis</title>
    <link rel="stylesheet" type = 'text/css' href = '/resources/projects.css'>
</head>
<body>
    <header>
        <nav>
            
            <ul>
                <li><a href='/views/index.html'>About Me</a></li>
                <li><a href='#'>Projects</a></li>
                <li><a href='/views/game.html'>Mini Game</a></li>
            </ul>
        </nav>
    </header>

    <section id="projects">
        <h2>Projects</h2>
        <div class="project-card">
            <img src="/resources/images/baseball.jpg" alt="MLB Player Projection Model">
            <div class="project-details">
                <h3>MLB Player Projection Model</h3>
                <p>Predicting MLB players' WARs based on prior performance.</p>
                <a href="https://drive.google.com/file/d/1wktAM4LjXkcV-4eGrg2o0P-PTXm9KkhR/view?usp=sharing" class="project-button">View Project</a>
            </div>
        </div>
    </section>

    <footer>
        <nav>
            <ul>
                <li><a href="mailto:johnnyaddis23@gmail.com">johnnyaddis23@gmail.com</a></li>
                <li><a href="tel:+12243265159">224-326-5159</a></li>
                <li><a href="https://www.linkedin.com/in/jonathan-addis-616444283/">LinkedIn</a></li>
                <li><a href="https://github.com/JohnnyAddis">GitHub</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>